h1 {color: red;}
h2 {color: blue;}
h3 {color: green;}
h4 {color: yellow}
em {color: rgb(0, 149, 255)}
a {color: pink}
strong {color: blueviolet}
u {color: darkgoldenrod}

body {
    border-style: solid;
    border-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    border-color: red;
}
h1 {text-align: center;}
h2 {text-align: center;}
h3 {text-align: center;}
h4 {text-align: center;}
p {text-align: center;}
pre {text-align: center;}
body {
    font-size: 1.5em;
    background-color: bisque;
    margin: 20px;
    padding: 40px;
}